<app-component-template>
  <div id="heading">
    <i class="bi bi-app"></i>
    Icons
  </div>

  <div id="native"></div>

  <div id="bootstrap">
    <i class="bi bi-folder"></i> Folder <br>
    <i class="bi bi-file-earmark"></i> File <br>
    <i class="bi bi-star"></i> Star <br>
    <i class="bi bi-share"></i> Share <br>
    <i class="bi bi-box-arrow-up-right"></i> Box arrow up-right <br>
    <i class="bi bi-link-45deg"></i> Link 45deg <br>
    <i class="bi bi-heart"></i> Heart <br>
    <i class="bi bi-chat"></i> Chat <br>
    <i class="bi bi-cloud"></i> Cloud <br>
    <i class="bi bi-search"></i> Search <br>
    <i class="bi bi-clock"></i> Clock
  </div>

  <div id="material">
    <span class="material-icons">folder</span> Folder <br>
    <span class="material-icons">description</span> Description <br>
    <span class="material-icons">star</span> Star <br>
    <span class="material-icons">share</span> Share <br>
    <span class="material-icons">link</span> Link <br>
    <span class="material-icons">favorite</span> Favorite <br>
    <span class="material-icons">chat</span> Chat <br>
    <span class="material-icons">cloud</span> Cloud <br>
    <span class="material-icons">search</span> Search <br>
    <span class="material-icons">schedule</span> Schedule
  </div>

</app-component-template>
