<app-component-template>
  <div id="heading">
    <i class="bi bi-textarea-resize"></i>
    Textarea
  </div>

  <div id="native">
    <label for="comments-native">Comments</label><br>
    <textarea
        [(ngModel)]="comments"
        name=""
        id="comments-native"
        cols="30"
        rows="4"
    ></textarea>
  </div>

  <div id="bootstrap">
    <div class="form-floating">
      <textarea
          [(ngModel)]="comments"
          name="comments-bootstrap"
          id="comments-bootstrap"
          class="form-control"
          placeholder="Leave a comment here"
          style="height: 100px"
      ></textarea>
      <label for="comments-bootstrap">Comments</label>
    </div>
  </div>

  <div id="material">
    <mat-form-field appearance="fill">
      <mat-label>Comments</mat-label>
      <textarea
          [(ngModel)]="comments"
          name="comments-material"
          id="comments-material"
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>
  </div>

  <div id="outcome">
    Comments:
    {{ comments }}
  </div>

</app-component-template>
